body {
  font-family: Ubuntu;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}

.top img {
  width: 75%;
  height: auto;
  align-self: end;
}

.top h2 {
  align-self: end;
  padding-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  border: 2px solid black;
  width: 100%;
}

.selections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selections p {
  padding: 20px;
}

.selections select {
  height: 37px;
  padding-right: 10px;
  background-color: lightgray;
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select2 { display: none;}

.select3 { display: none;}
