.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top img {
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selections p {
  padding: 20px;
}

.selections select {
  height: 37px;
  padding-right: 10px;
  background-color: lightgray;
}

.graph {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 1000px;
}

.select2 { display: none;}

.select3 { display: none;}
